.button {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 10px 40px;
    border: 2px solid #CACACA;
    //box-shadow: 1px 2px 0px rgba(202, 202, 202, 1),
    //1px 2px 0px rgba(202, 202, 202, 1);
    border-radius: 24px;
    text-transform: uppercase;
    line-height: 24px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    &:hover {
        cursor: pointer;
    }
    &._active {
        background: #4BA82E;
        box-shadow: 0px 4px 8px rgba(75, 168, 46, 0.3);
        border-color:  #4BA82E;
        &._with-icon {
            .button_image-wrap {
                width: 21px;
                height: 20px;
                display: inline-block;
                margin-right: 14px; // was 16px;
                .button_image {
                    background-repeat: no-repeat;
                    background-image: url('../../assets/download-white.svg');

                    width: 100%;
                    height:100%;

                }
            }
        }
    }
    &._with-icon {
        color: #494949;
        //display: flex;
        //justify-content: space-between;
        //align-items: center;
        .button_image-wrap {
            width: 21px;
            height: 20px;
            display: inline-block;
            margin-right: 14px; // was 16px;
            .button_image {
                background-repeat: no-repeat;
                background-image: url('../../assets/download-dark.svg');
                width: 100%;
                height:100%;
                margin-top: 5px;
            }
        }
    }
}
.button._with-icon._active {
    color: #FFFFFF;
    &:before {
        background-image: url('../../assets/download-white.svg');
    }

}
@media (max-width: 768px) {
}
