@font-face {
    font-family: "SKODA Next";
    src: url("../../assets/fonts/SKODANext-Regular.woff") format("woff"),
    url("../../assets/fonts/SKODANext-Black.woff") format("woff");
}

.main {
    font-family: "SKODA Next";
    margin: 0 auto;
}
