.headline {
  padding: 80px 108px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    margin-bottom: 24px;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    color: #222222;
    font-weight: bold;
  }
  &_subtitle {
    width: 71.11%;
    margin-bottom: 40px;
    font-size: 14px;
    color: #222222;
    text-align: center;
  }
  &_buttons {
    .button + .button {
      margin-left: 24px;
    }
  }
}
@media (max-width: 1440px) {
  .headline {
    &_subtitle {
      width: 100%;
    }
  }
}
@media (max-width: 1024px) {
  .headline {
    padding: 80px 40px;
    &_subtitle {
    }
  }
}
@media (max-width: 768px) {
  .headline {
    padding: 32px 20px;
    &_title {
      font-size: 24px;
      margin-bottom: 16px;
    }
    &_subtitle {
      font-size: 14px;
      margin-bottom: 32px;
    }
    &_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      .button {
        width: 192px;
      }
      .button + .button {
        margin-left: 0;
        margin-top: 16px;

      }
    }
  }

}
