.banner {

    position: relative;
    &_inner {
        width: 100%;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-bottom: 50px;
    }
    &_lower {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        margin: 0 72px;
        &_calculates {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            a {
                color: #FFFFFF;
                font-size: 12px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &_calculate  {
            .explaining_text {
                margin-bottom: 6px;
            }
            & + & {
                border-left: 2px solid rgba(255, 255, 255, 0.3);;
                padding-left: 38px;
                margin-left: 38px;
            }
        }
        &_buttons {
            display: flex;
            align-items: center;
            .button + .button {
                margin-left: 24px;
            }
        }
    }
    &_upper {
        margin: 0 72px 40px 72px;
        &_name {
            font-size: 28px;
        }
        &_series {
            font-size: 54px;
            font-weight: 900;
        }
    }
    &_image {
        background-image: url('../../assets/banner-image.png');
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_image_wrapper {
        padding-top: 55.65%;
        position: relative;
    }
}
.cost {
    font-weight: bold;
    font-size: 24px;
    &._with-question {
        &:after {
            content: '';
            width: 20px;
            position: absolute;
            margin-left: 10px;
            margin-top: 3px;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url('../../assets/question-circle.svg');
        }
    }
}

@media (max-width: 1440px) {
    .banner {
        &_lower {
            margin: 0 48px;
            &_calculates {
                .cost {
                    font-size: 24px;
                }
            }
        }
        &_upper {
            margin: 0 48px 32px 48px;
        }
    }
}
@media (max-width: 1024px) {
    .banner {
        &_image {
            background-image: url('../../assets/banner-image-cutted.png');
        }
        &_inner {
            padding-bottom: 0;
            margin-bottom: 32px;
            color: #494949;
            position: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &_lower {
            border-top: 2px solid rgba(107, 107, 107, 0.3);
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            &_calculates {
                margin-bottom: 24px;
                .cost {
                    font-size: 24px;
                    color: #222222;
                }
            }
            &_calculate  {
                font-size: 16px;
                width: 50%;
                & + & {
                    border-left: 2px solid rgba(107, 107, 107, 0.3);
                    padding-left: 16px;
                    margin-left: 0;
                }
                a {
                    color: #222222;
                    font-size: 12px;
                }
                .cost {
                    font-size: 24px;
                    &._with-question {
                        &:after {
                            background-image: url('../../assets/question-circle-dark.svg');
                        }
                    }
                }
            }
            &_buttons {
                display: flex;
                justify-content: center;
                .button {
                    color: #494949;
                    &._active {
                        color: #FFFFFF;
                    }
                }
            }
        }
        &_upper {
            padding: 12px 0 20px 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_name {
                font-size: 28px;
            }
            &_series {
                font-size: 54px;
            }
        }
    }
}
@media (max-width: 768px) {
    .banner {
        &_upper {
            padding-top: 16px;
            &_name {
                font-size: 20px;
                line-height: 26px;
            }
            &_series {
                line-height: 40px;
                font-size: 32px;
            }
        }
        &_lower {
            margin: 0 20px;
            &_calculates {
                margin-bottom: 40px;
                .cost {
                    font-size: 20px;
                }
                a {
                    color: #222222;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
            &_buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                .button {
                    width: 188px;
                    color: #494949;
                    &._active {
                        color: #FFFFFF;
                    }
                }
                .button + .button {
                    margin-left: 0;
                    margin-top: 16px;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .banner {
        &_image_wrapper {
            padding-top: 100%;
        }
    }
}
